@import "tailwindcss";

:root {
  --background: #050510;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-outfit), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}